<form name="form">
    <div class="ngdialog-message">
        <h3 id="header">{{data.user.username}}</h3>
        <p>
            <label>Name: <input type="text" name="name" ng-model="data.user.name"/></label>
        </p>
        <p>
            <label>* Username: <input type="text" name="username" ng-model="data.user.username" required ng-minlength="3" ng-maxlength="25"/></label>
            <!--
            <div role="alert">
                <span class="error" ng-show="form.username.$error.required">
                    Required
                </span>
                <span class="error" ng-show="form.username.$error.minlength">
                    Too short
                </span>
                <span class="error" ng-show="form.username.$error.maxlength">
                    Too long
                </span>
            </div>
            -->
        </p>
        <p>
            <label>* Email: <input type="text" name="email" ng-model="data.user.email" required/></label>
        </p>
        <p>
            <label>Phone: <input type="text" name="phone" ng-model="data.user.phone"/></label>
        </p>
        <p>
            <label>Website: <input type="text" name="website" ng-model="data.user.website"/></label>
        </p>
    </div>
    <div class="ngdialog-buttons mt">
        <button ng-disabled="form.$invalid" ng-click="save()">Save</button>
    </div>
</form>